header{padding:10px 4px;box-shadow:0 1px 4px #777;}
.usernav{position: absolute;top:59px;right:0;width:80%;border:1px solid #dfdfdf;padding:10px 8px;}
.usernav{z-index:5;}
.usernav li{line-height: 26px;}

.usernav i{margin-right: 4px;}
.usernav a{font-size:14px;}
.username{line-height: 50px;position: relative;}
.username:hover .usernav{display: block;}

.username img{border-radius: 50%;}
.username span{font-size: 16px;display: inline-block;margin:0 3px;}
.message{position: relative;margin-right: 18px;}
.message .icon{line-height: 50px;font-size: 26px;font-weight: bold;}
.message .num{position: absolute;top:6px;left:8px;border-radius: 50%;background: red;color:#fff;padding:2px;width: 16px;height: 14px;text-align:center;line-height: 14px;}


.content{padding-top:10px;}
nav{padding:20px 0;width:240px;box-shadow: -2px 2px 3px #eee;border-top-right-radius: 5px;}
nav a{transition:color .4s;}
nav span{font-size: 16px;}
nav div{border-left:6px solid #99a9bf;overflow: hidden;padding-right:10px;cursor: pointer;}
nav div i:first-child{font-size:18px;text-align:center;}

nav div i,nav div span{line-height: 40px;}
.childnav{margin-left:30px;padding:10px;}
.childnav li{line-height: 26px;}
html,body,#app,.content,nav{height: 100%;}
.main{padding:10px 20px;width: calc(100% - 240px);box-sizing: border-box;}
.main .tip{font-size: 16px;line-height: 40px;font-weight: bold;margin-bottom:20px;}

h5{font-size: 18px;font-weight: bold;margin-bottom:14px;margin-left:20px;}
.shortcuticon li{float: left; border-radius: 10px;padding:10px 16px;margin:0 20px;text-align: center;cursor: pointer;border:1px solid #dfdfdf;}
.shortcuticon i,.shortcuticon span{display: block;}
.shortcuticon i{font-size: 50px;margin-bottom:5px;}
.shortcuticon span{font-size: 18px;}

h6{overflow:hidden;margin-bottom:20px;padding:10px 20px;font-size: 18px;background:#99a9bf;border-top-left-radius: 6px;border-top-right-radius: 6px;}
h6 span{float: left;}
h6 span:last-child{float: right;}
h6 .icon{float: left;margin:0 6px;line-height:18px;font-size:18px;font-weight: 20px;cursor:pointer;}
.block{border-radius: 6px;margin-bottom:20px;}
.block .title{font-size: 22px;line-height: 40px;margin-bottom:10px;}
.double div{box-sizing: border-box;}
.double div:first-child{margin-right: 10px;}
.double div:last-child{margin-left: 10px;}
.route{line-height: 20px;margin-bottom:10px;font-size: 16px;}
.route span{float: left;}
.quote{margin:0 6px;}
.shortcut,.theme{width:50%;}
.themebtn{padding-top:30px;}
.themebtn span{display: inline-block;margin:0 6px 0 20px;width:16px;height: 16px;border-radius: 50%;cursor: pointer;vertical-align: middle;}
#quota{height: 400px;}

.navBtn{display:none;position:fixed;top:82px;left:0;padding:10px;border-radius: 6px;background: rgba(122,122,122,0.5);z-index:5;box-shadow: 0 0 6px #fff inset;}
table .el-button+.el-button{margin-left:0 !important;}
.main2,.main2 .block{height: 100%;}
/*animate*/
nav div i{transition:all .6s;}
nav .current i:last-child{transform: rotate(180deg)}
nav {transition:all .6s;}
.navBtn{transition:all 1s out-back;}
@media (min-width:300px) and (max-width:768px){
    body{font-size: 12px;}
    nav{width: 160px;position: fixed;top:82px;left:-240px;z-index:5;}
    .main .tip{font-size: 14px;}
    .main{width: 100%;}
    .shortcut,.theme{float: none;width:100%;}
    .theme{margin-top:30px;}
    .themebtn{padding-top:0;}
    .shortcuticon i{font-size: 30px;}
    .shortcuticon span{font-size: 12px;}
    .shortcuticon li{padding:4px 8px;margin:0 10px;}
    #quota{height: 200px;}
    .main .tip{line-height: 20px;}
    .showNav{left:0;}
    .navBtn{display: block;}
    .hidenav{left:160px;transform: scale(-1,1)}
}
























































