<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>后台首页</title>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../css/fonts/iconfont.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/theme.css"/>
    <script src="../js/vue.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
<div id="app">
    <el-row tag="header">
        <div class="logo fl">
            <img src="../image/pic.gif" width="100" height="50"/>
        </div>

        <div class="user fr">
            <div class="message fl">
                <i class="icon iconfont icon-tongzhi"></i>
                <i class="num">12</i>
            </div>
            <div class="username fl">
                <div @click="usernav=!usernav">
                    <img src="../image/pic.gif" width="30" height="30"/><span>石浩浩</span>
                    <i class="icon iconfont icon-arrowdown"></i>
                </div>
                <ul class="usernav" v-show="usernav">
                    <li>
                        <i class="icon iconfont  icon-tongzhi"></i><a href="../index.html">首页</a>
                    </li>
                    <li>
                        <i class="icon iconfont  icon-tongzhi"></i><a href="../login.html.html">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </el-row>
    <div class="navBtn" @click="shownav=!shownav" :class="{hidenav:shownav}">
        <i class="icon iconfont icon-daohang"></i>
    </div>
    <el-row class="content">
        <nav class="fl" :class="{showNav:shownav}">
            <ul v-for="(item,index) in navlist">
                <li>
                    <el-row @click.native="showNav(index)" :class="item.current ? 'current':''">
                        <el-col :span="4" tag="i" class="icon iconfont" :class="item.icon"></el-col>
                        <el-col :span="18" tag="span">{{item.nav}}</el-col>
                        <el-col :span="2" tag="i" class="icon iconfont icon-arrowdown"></el-col>
                    </el-row>
                    <ul class="childnav" v-show="item.current">
                        <li v-for="child in item.child">
                            <a :href="child.parmas+'.html'" :class="{white:child.current}">{{child.childnav}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="main main2 fr">
            <div class="route clearfix"><span>柱图</span></div>
            <div class="block padding20">
                <div id="barchart"></div>
            </div>
        </div>
    </el-row>
</div>
<script src="../js/axios.min.js"></script>
<script src="../js/echarts.common.min.js"></script>
<script>
new Vue({
    el:'#app',
    data:{
        usernav:false,
        shownav:false,
        navlist:[
            {
                nav:'表单和表格',
                icon:'icon-tongzhi',
                current:false,
                child:[
                    {
                        childnav:'表格',
                        parmas:'tables',
                        current:false
                    },
                    {
                        childnav:'表单',
                        parmas:'form',
                        current:false
                    },
                    {
                        childnav:'可增减表格',
                        parmas:'selftable',
                        current:false
                    }
                ]
            },
            {
                nav:'基本组件',
                icon:'icon-tongzhi',
                current:false,
                child:[
                    {
                        childnav:'富文本编辑器',
                        parmas:'editor',
                        current:false
                    },
                    {
                        childnav:'列表拖拽',
                        parmas:'drag',
                        current:false
                    },
                    {
                        childnav:'分页',
                        parmas:'pages',
                        current:false
                    },
                    {
                        childnav:'图片上传',
                        parmas:'picupload',
                        current:false
                    },
                    {
                        childnav:'弹框',
                        parmas:'popin',
                        current:false
                    }
                ]
            },
            {
                nav:'图表',
                icon:'icon-tongzhi',
                current:true,
                child:[
                    {
                        childnav:'折线图',
                        parmas:'line',
                        current:false

                    },
                    {
                        childnav:'柱图',
                        parmas:'bar',
                        current:true
                    }
                ]
            }
        ]
    },
    mounted:function(){
        this.barchart();
    },
    methods:{
        showNav:function(index){
            this.navlist.forEach(function(e){
                e.current=false;
            })
            this.navlist[index].current=true;
        },
        handleSizeChange:function(val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange:function(val) {
            console.log(`当前页: ${val}`);
        },
        barchart:function(){
            var myChart = echarts.init(document.getElementById('barchart'));
            option = {
                color: ['#3398DB'],
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'直接访问',
                        type:'bar',
                        barWidth: '60%',
                        data:[10, 52, 200, 334, 390, 330, 220]
                    }
                ]
            };
            myChart.setOption(option);
        }
    }
})
</script>
</body>
</html>