
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501062851998'); /* IE9*/
  src: url('iconfont.eot?t=1501062851998#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501062851998') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501062851998') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501062851998#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-13:before { content: "\e706"; }

.icon-daohang:before { content: "\e611"; }

.icon-shuaxin:before { content: "\e6ae"; }

.icon-quanpingfanhui:before { content: "\e725"; }

.icon-wode:before { content: "\f0350"; }

.icon-empty:before { content: "\e6f7"; }

.icon-other:before { content: "\e714"; }

.icon-setup:before { content: "\e728"; }

.icon-share:before { content: "\e729"; }

.icon-icon-test:before { content: "\e62b"; }

.icon-tongzhi:before { content: "\e601"; }

.icon-arrowup:before { content: "\e606"; }

.icon-arrowdown:before { content: "\e608"; }

.icon-editor:before { content: "\e60b"; }

.icon-sort:before { content: "\e60e"; }

.icon-nav-search:before { content: "\e61e"; }

